
.white {
    display: inline-block;
    background: #FF0000;
    height: 20px;
    width: 20px;
    vertical-align: top;
}

#frame{
    text-align: right;
}

div.blank{
    display: inline-block;
    background: #7f07f7;
    height: 20px;
    width: 20px;
    vertical-align: top;
}
